{% extends "base.html" %}
{% load staticfiles %}

{% block single_link %}<a href="/login/">Login</a>{% endblock single_link %}

{% block content %}
<div class="container" id="section-login">
  <h1>Register</h1>
  {% if error %}<div class="alert alert-warning">Error: {{ error }}</div>{% endif %}
  <form class="form-horizontal" role="form" action="" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label class="control-label col-sm-2 col-sm-offset-2" for="first_name">First name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="John">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2 col-sm-offset-2" for="last_name">Last name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Smith">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2 col-sm-offset-2" for="email">Email</label>
      <div class="col-sm-6">
        <input type="email" class="form-control" id="email" name="email" placeholder="john.smith@uwaterloo.ca">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2 col-sm-offset-2" for="pwd">Password</label>
      <div class="col-sm-6">
        <input type="password" class="form-control" id="pwd" name="pwd" placeholder="********">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2 col-sm-offset-2" for="pwd_conf">Confirm password</label>
      <div class="col-sm-6">
        <input type="password" class="form-control" id="pwd_conf" placeholder="********">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-6">
        <button type="submit" class="btn btn-default btn-block">Submit</button>
      </div>
    </div>
  </form>
</div>

<div class="container-fluid" id="section-contact">
  <h3>Questions? Comments?</h3>
  <h4>Email us at <a href="mailto:reach@emerjhack.com">reach@emerjhack.com</a></h4>
</div>
{% endblock content %}
{% block js %}

{% endblock js %}
