@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
html, body, div, table, h1, h2, h3, h4, h5, span {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	z-index: 10;
}
body {
	overflow-x: hidden;
}

h3 {
	text-align: center;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 10px;
	color: #2fa268;
	padding-bottom: 10px;
	font-size: 22px;
}

h2 {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 4px;
	padding-top: 40px;
	padding-bottom: 20px;
}
h4 {
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
	padding-top: 0px;
	padding-bottom: 20px;
}
h1 {
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 10px;
	background-color: #2fa268;
	color: white;
	margin-top: 70px;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 60px;
	font-size: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.row-flex-cont {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.row-flex-cont img {
	max-width: 100%;
}

#section-title {
	height: 100vh;
	min-height: 400px;
	position: relative;
}
#section-title .title-img {
	padding-top: 100px;
	padding-bottom: 60px;
}
#section-title .title-img img {
	max-width: 600px;
	width: 80%;
}
#section-title #title-plant {
	position: absolute;
	height: 230px;
	width: 110px;
	bottom: 48px;
	left: 60%;
	background-image: url(/static/images/plant-1.svg);
}
#section-title h3 {

}
#sticky-nav-placeholder {
	height: 50px;
	width: 1px;
	display: none;
}
#section-nav {
	margin-top: -50px;
	margin-bottom: 0;
	border-radius: 0px;
	background-color: #2fa268;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	z-index: 20;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
	border-bottom-style: none;
	border-width: 0 0 1px;
}
#section-nav-2 {
	border-radius: 0px;
	background-color: #2fa268;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	z-index: 20;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
	border-bottom-style: none;
	border-width: 0 0 1px;
}
.navbar-nav {
	text-transform: none;
	font-weight: 600;
	letter-spacing: 1px;
	font-weight: 500;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}
.navbar .navbar-nav>li>a, .navbar .navbar-nav>li>a:visited, .navbar .navbar-nav>li>a:active {
	color: white;
}
.navbar .navbar-nav>li>a:hover {
	color: #CAE8D9;
}
#nav-title-text, #nav-title-text-old, #nav-title-text:hover {
	color: white;
}
.navbar #nav-title {
	height: 30px;
	margin-top: -2px;
}
.navbar .navbar-brand {
	position: relative;
}
.navbar #nav-container {
	padding-right: 0;
}
.navbar .navbar-header {
	margin-right: 0px;
}
.navbar-fixed-top {
	padding-right: 15px;
	position: fixed;
}
.navbar #nav-title-text, .navbar #nav-title-text-old {
	position: absolute;
	top: 14px;
	left: 130px;
	font-size: 28px;
	letter-spacing: 4px;
	animation-duration: 0.2s;
	animation-timing-function: ease-in-out;
}
.navbar #nav-link-reg, .navbar #nav-link-login {
	background-color: #39C77C;
	text-transform: uppercase;
	font-weight: 700;
}

#section-nav button.navbar-toggle {
	margin-right: 15px;
}
#section-nav-2 button.navbar-toggle {
	margin-right: 0px;
}


#about {
	padding-top: 20px;
	position: relative;
	overflow-x: hidden;
}
#about #wire-1 {
	position: absolute;
	left: 60%;
	top: -5%;
	height: 100%;
	opacity: 0.4;
}
#about h4 {
	padding-top: 20px;
}
#nav-wp-element {
	position: absolute;
	left: 0;
	top: -70px;
	visibility: hidden;
	width: 1;
	height: 1;
}

#section-press {

}
#section-press h1 {
	color: black;
	background-color: white;
	font-size: 30px;
	margin-bottom: 20px;
}
#section-press h4 {
	text-align: center;
}

#section-hardware {

}
#section-hardware h2 {
	text-align: center;
	margin-top: 40px;
}
#section-hardware .p-img {
	margin: 10px;
}
#schedule {

}
#schedule table {
	width: initial;
	margin: 0 auto;
	margin-bottom: 40px;
}
#schedule h4 {
	text-align: center;
}
#schedule-loan p {
	text-align: center;
}
#schedule-loan h4 {
	text-align: center;
	padding-bottom: 10px;
}
#schedule-loan .row {
	margin-bottom: 20px;
}

#section-faq-2 {

}
#section-faq-2 h4 {
	text-transform: none;
	letter-spacing: 0px;
	font-weight: 700;
}

#aboutus {

}
#aboutus h1 {
	color: black;
	background-color: white;
	font-size: 30px;
	margin-bottom: 20px;
}

#section-sponsors {
	height: 200px;
}
#contact {
	height: 600px;
}
#contact h4 {
	text-align: center;
	margin-top: 40px;
}
#contact h3, #contact h4 {
	position: relative;
	z-index: 10;
}

#section-footer {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}
#section-footer .container-fluid {
	z-index: 20;
	position: relative;
}
#section-footer #footer-cover {
	position: absolute;
	background-color: white;
	opacity: 0.7;
	width: 100%;
	height: 130px;
	bottom: 0;
	left: 0;
	z-index: 7;
}
#section-footer #footer-bg {
	z-index: 6;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
#section-footer table {
	margin: 0 auto;
	border-spacing: 10px;
	border-collapse: separate;
}
#section-footer a {
	color: black;
}
#section-footer p {
	padding-top: 10px;
}

@keyframes nav-text-scrolldown-enter-animation {
	from {
		top: 5px;
		opacity: 0;
	}
	to {
		top: 14px;
		opacity: 1;
	}
}

@keyframes nav-text-scrolldown-exit-animation {
	from {
		top: 14px;
		opacity: 1;
	}
	to {
		top: 23px;
		opacity: 0;
	}
}

.nav-text-scrolldown-enter {
	animation-name: nav-text-scrolldown-enter-animation;
}
.nav-text-scrolldown-exit {
	animation-name:	nav-text-scrolldown-exit-animation;
}


#section-login {
	margin-bottom: 200px;
	margin-top: 50px;
}
#section-login h1 {
	background-color: white;
	color: #2FA268;
	box-shadow: none;
	margin-bottom: 30px;
}
#section-login label {
	font-weight: 600;
}